
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.125rem;
    background-image: linear-gradient(90deg, #000000 27%, #ec8c69 90%);
    border-bottom: .5px solid #673ab7b0;

}

.header img {
    width: 140px;
    height: 60px;
}